name: Deploy Customer Loyalty Agent

on:
  push:
    # Paths include the initializer, prompt, workflow, and any associated tools
    paths:
      - 'src/app/agents/shopperAgent_initializer.py'
      - 'src/app/tools/discountLogic.py'
      - 'src/prompts/ShopperAgentPrompt.txt'
      - '.github/workflows/deploy-shopper-agent.yml'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  
jobs:
  run-customer-loyalty-agent:
    runs-on: ubuntu-latest
    environment: test 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login with OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Create .env file in src directory
        run: |
           echo "${{ secrets.ENV }}" > src/app/agents/.env
        shell: bash

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt

      - name: Run shopper agent initializer
        run: |
          cd src/app/agents
          pwd
          ls          
          python shopperAgent_initializer.py
